---
export interface Props{
    className?:string,
    variant:"primary"|"secondary"
}

const {className, variant} = Astro.props

const getThemeStyle = (variant:"primary"|"secondary")=>{
    if (variant === "primary") {
        return "bg-black border-transparent text-white hover:bg-primary-hover hover:text-white relative after:bg-primary/20"
    }
    return "text-black border-black hover:bg-black hover:text-white"
}


---
<button class={`px-8 py-4 rounded-[185px] outline-none relative overflow-hidden border-2 font-display font-medium text-lg button-playful
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-500 after:ease-[cubic-bezier(0.28,0.03,0.76,0.99)] after:rounded-full after:top-0 after:left-0
                    ${getThemeStyle(variant)} hover:after:opacity-100 hover:after:scale-[2.5] ${className}`}>
    <slot/>
</button>